*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.main{
    width: 100%;
    background-position: center;
    height: 100vh;
    background-size: cover;
}

/* Navbar */
.navbar{
    padding: 10px;
    width: 90vw;
    margin:auto;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    }


.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    margin: 2px;

}
ul li a{
    font-size: 16px;
     font-weight: bold;
     text-decoration: none;
     color: black;
    

}

#navbar div:hover{
    color: rgba(255, 0, 0, 0.753);
   }

p{
    font-size: larger;
    color: rgba(0, 0, 0, 0.781);

}
h4{
    font-size: xx-large;
    text-align: center;
    
}
h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: larger;
    color: blue;
}
h4{
    background-color: black;
    color: white;
}
p{
    color: rgba(0, 0, 0, 0.61);
    font-size: larger;
}

img{
    border: 1px solid black;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;}

    #navbar div a:hover{
        color: rgb(255, 0, 0);
       }


       